# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.sqlite
*.sqlite-journal
prisma/migrations/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App-specific
uploads/
client/dist/
server/dist/
server/src/generated/
